body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --baseBack: white;
    --baseFont: #1d2029;
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: #168ef4;
    --twitter: hsl(203, 89%, 53%);
    --instagram-1: hsl(37, 97%, 70%);
    --instagram-2: hsl(329, 70%, 58%);
    --youTube: hsl(348, 97%, 39%);
    --gray: #5f616d;
    --cardGray: #f0f3fa;
    --lighGray: #f8f3fe;
    --cardTitle: #6f717e;
    --switchSpinner: white;
    --switchBack: #5f616d;
}

main {
    color: var(--baseFont);
    background: var(--baseBack);
    min-height: 100vh;
}

.wrapper {
    padding: 0 30px;
}

.grid {
    display: grid;
    grid-row-gap: 25px;
}

@media screen and (min-width: 480px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }

    .wrapper {
        max-width: 1024px;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }

    .header-total {
        border: none;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 1fr 200px;
    }
}

.is-dark-mode {
    --cardGray: #252b43;
    --gray: #8088ad;
    --lightGray: #1d2029;
    --baseBack: #1d2029;
    --baseFont: white;
    --cardTitle: #8088ad;
    --switchSpinner: #282943;
    --switchBack: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}

.is-light-mode {
    --baseBack: white;
    --baseFont: #1d2029;
    --gray: #5f616d;
    --cardGray: #f0f3fa;
    --lighGray: #f8f3fe;
    --cardTitle: #6f717e;
    --switchSpinner: white;
    --switchBack: #5f616d;
}

@media (prefers-colors-scheme: dark) {
    :root {
        --cardGray: #252b43;
        --gray: #8088ad;
        --lightGray: #1d2029;
        --baseBack: #1d2029;
        --baseFont: white;
        --cardTitle: #8088ad;
        --switchSpinner: #282943;
        --switchBack: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
    }
}